/*Importo fonts de google: Quicksand 300-500-700*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
/*Inicializo las varianles en css*/
:root{
    --white:#fff;
    --black:#000;
    --very-light-pink:#c7c7c7;
    --text-input-field:#f7f7f7;
    --hospital-green:#ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
    --card-size:240px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}
.inactive {
    display: none;
}
/*###########Menu princial#######*/
.menu{
    display: none;
    width: 30px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
    padding: 0 20px;
    height: 60px;
}
.logo{
    width: 100px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    border:1px solid var(--white);
    color: var(--very-light-pink);
    border-radius: 8px;
    padding: 8px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border:1px solid var(--hospital-green);
    color: var(--hospital-green);
    
}

.navbar-email{
    cursor: pointer;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 10px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    width: 14px;
    height: 14px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: 700;
    position: absolute;
    top: -6px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*--------------Comienza el desplegable del menu-------------*/
.desktop-menu{
    position: absolute;
    top: 61px;
    right: 50px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);

}
.desktop-menu ul li:not(:last-child){
    font-weight: 700;
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;

}

/* -----------Menu mobile ------------*/
.mobile-menu {
    position: absolute;
    top: 60px;
    padding: 24px;
    background: var(--white);
    z-index: 4;
    border: 1px solid #ddd;
    /*display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;*/
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}

.mobile-menu ul{
    padding: 0;
    margin: 20px 0 20px 0;
    list-style: none;
  
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(3){
    margin-top: 0;
    margin-bottom: 50px;
}
.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--very-light-pink);
}

.mobile-menu .sign-out{
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* -----------Aside (Product detail carrito de compra) ------------*/
.product-detail{
    width: 360px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background: var(--white);
    
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 24px;
}
.title{
    font-size: var(--lg);
    font-weight: 700;
}
.my-orden-content{
    display: flex;
    flex-direction: column;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 10px;
    align-items: center;
    gap: 16px;
    background-color: var(--very-light-pink);
    margin-bottom: 20px;
    padding: 0 20px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: 700;
    margin-bottom: 4px;
}

.order p:nth-child(2){
    text-align: end;
    font-weight: 700;
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: 700;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    height: 40px;
    font-size: var(--md);
    font-weight: 700;
}


@media(max-width:640px){
    .menu{
        display: block;
        
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-right .navbar-email, .desktop-menu{
        display: none;
    }
    .product-detail{
        width: 100%;
    }
}
@media(min-width:641px){
    .mobile-menu{
        display: none;
    }
}